GEOCODING_PROVIDER=here
GOOGLE_API_KEY=
HERE_API_KEY=
LOCATIONIQ_API_KEY=
API_BASE_URL=http://localhost:5250
KEYCLOAK_ISSUER=http://localhost:8080/realms/event_map
KEYCLOAK_CLIENT_ID=event_map_flutter
KEYCLOAK_REDIRECT_URL=http://localhost:8080/realms/event_map/protocol/openid-connect/auth
